name: Cleanup GitHub packages

on:
  workflow_dispatch:
  # schedule:
  #   - cron: "0 0 * * *"  # every day at midnight

permissions:
  packages: write

jobs:
  clean:
    runs-on: ubuntu-latest
    name: Delete old images from GHCR
    steps:
      - uses: snok/container-retention-policy@3b0972b2276b171b212f8c4efbca59ebba26eceb # v3.0.1
        with:
          account: ${{ github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          image-names: "ubi9-oc-mirror"
          cut-off: 3m
          keep-n-most-recent: 5
